input{
background-color: aqua;
} 
/* #username{
    background-color: blueviolet;
} */
.class1{
    background-color: blueviolet;
}
.class2{
    background-color: rgb(43, 226, 67);
}
.class3{
    background-color: rgb(226, 43, 217);
}
.class4{
    background-color: rgb(226, 43, 43);
}
